@model IEnumerable<_10453370_POE_WebApp.Models.Venue>

@{
    ViewData["Title"] = "Venue Information";
}

<h1>Index</h1>

@if (TempData["Error Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error Message"]
    </div>
}
@if (TempData["Success Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Success Message"]
    </div>
}
@if (TempData["SuccessC Message"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessC Message"]
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th> Venue Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                    
                    @if (!string.IsNullOrEmpty(item.ImageURL))
                    {
                        <img src="@item.ImageURL" alt="Venue Image" style="width: 150px; height: auto;" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Venue_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Venue_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Venue_ID">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
