@model IEnumerable<_10453370_POE_WebApp.Models.BookingSummary>
@{
    ViewData["Title"] = "Booking Summary";
}

<h1>Booking Summary</h1>
<form asp-controller="BookingSummary" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@Context.Request.Query["searchString"]" class="form-group"
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Event Name</th>
            <th>Venue Name</th>
            <th>Booking Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Booking_ID</td>
                <td>@item.Event_Name</td>
                <td>@item.Venue_Name</td>
                <td>@item.Booking_Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

