@model IEnumerable<_10453370_POE_WebApp.Models.Event>

@{
    ViewData["Title"] = "Event Details";
}

<h1>Index</h1>
<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label>Event Type</label>
            <select name="searchType" class="form-control">
            <option value="">--All Types--"</option>
            @foreach (var type in (List<EventType>)ViewData["EventTypes"])
            {
                <option value="@type.EventType_Description">@type.EventType_Description</option>
            }
            </select>
        </div>
        <div class="col-md-3">
            <label>Venue</label>
            <select name="venue" class="form-control">
                <option value="">--All Venues--"</option>
                @foreach (var venue in (List<Venue>)ViewData["Venues"])
                {
                    <option value="@venue.Venue_Name">@venue.Venue_Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label>Event Start Date</label>
            <input type="date" name="startDate" class="form-control"? />
        </div>
        <div class="col-md-3">
            <label>Event End Date</label>
            <input type="date" name="endDate" class="form-control" ? />
        </div>
        
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Filter</button>
        <a href="/Event/Index" class="btn btn ml-2">Clear</a>
    </div>
</form>






@if (TempData["Error Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error Message"]
    </div>
}
@if (TempData["Success Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Success Message"]
    </div>
}
@if (TempData["SuccessC Message"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessC Message"]
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.Venue_Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.EventType.EventType_Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Event_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Event_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Event_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
